<%# TODO: Needs styling! %>


<div class="container">
  <ul>
    <% chat_with = chat.creator_id == current_user.id ? User.find(chat.joiner_id) : User.find(chat.creator_id) %>
    <li>
      <%= link_to private_chatroom_path(chat), class: "text-decoration-none" do  %>
        <%# TODO: chat come here %>
        <div class="card-product">

          <% if chat_with.photo.key.present? %>
            <%= cl_image_tag chat_with.photo.key, height: 120, width: 120, crop: :fill, style: "border-radius: 8px;" %>
          <% else %>
            <%= image_tag "https://www.gse.org/wp-content/uploads/2021/03/avatar-dummy.png" %>
          <% end %>

          <div class="card-product-infos w-100">
            <p class="fs-5 text-dark fw-bold text-capitalize"><%= "#{chat_with.first_name.capitalize} #{chat_with.last_name.capitalize}" %></p>
            <div class="d-flex justify-content-between">
              <p class="fs-6 text-dark"><%= chat.private_messages.last.present? ? "#{chat.private_messages.last.sender == current_user ? "You" : chat.private_messages.last.sender.first_name.capitalize}: #{chat.private_messages.last.content}" : "Message #{chat_with.first_name.capitalize} now!" %></p>
              <%# TODO: If clause goes here. Check if the current_user is the creator %>
            </div>

          </div>
        </div>
      <% end %>

    </li>
  </ul>
</div>
