<div class="container chatroom"
  data-controller="private-chatroom-subscription"
  data-private-chatroom-subscription-chatroom-id-value="<%= @chat.id%>"
  data-private-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
  >
  <p class="fs-2"><%= @chat.creator == current_user ?
  "#{@chat.joiner.first_name} #{@chat.joiner.last_name}" :
  "#{@chat.creator.first_name} #{@chat.creator.last_name}"
  %></p>

  <div class="messages" data-private-chatroom-subscription-target="messages">
    <% @chat.private_messages.each do |message| %>
     <div class="message-row d-flex <%= message.sender == current_user ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender == current_user ? 'sender-style' : 'receiver-style' %>">
          <%= render "chat", message: message %>
        </div>
      </div>
    <% end %>
  </div>


  <%= simple_form_for [@chat, @message],
    html: { data: { action: "turbo:submit-end->private-chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message your heart out ❤️",
      wrapper_html: {class: "flex-grow-1"} %>
    <%= f.submit "Send", class: "btn login mb-3 border", style: "border-radius: 8px; margin-left: 0.2rem;" %>
  <% end %>
</div>
