<% content_for(:title) do %>
  <title>Workouts | ZoneFit</title>
<% end %>

<div class="d-flex justify-content-center"><p class="fs-2 text-center mt-2 w-50" style="background-color: aquamarine; border-radius: 16px; color: black; ">Ready to get knackered?</p></div>


<%#  TODO: Make this search bar work %>

<div class="container d-flex" data-controller="workout-index">
  <%= form_with url: workouts_path, method: :get, class: "d-flex" do |f| %>
  <% @muscle_group_ops = [" ", "Chest", "Back", "Shoulder", "Legs", "Abs"] %>
  <% @style_ops = [" ", "Cardio", "HIIT", "Muscle"] %>
  <% @equipment_ops = [" ", "No equipment", "Dumbbell", "Kettlebell", "Barbell", "Jump rope"] %>
    <%= f.select :title, options_for_select(@muscle_group_ops) %>
    <%= f.select :style, options_for_select(@style_ops) %>
    <%= f.select :equipment, options_for_select(@equipment_ops) %>

    <%= submit_tag "Search", name: "", class: "btn login mx-1" %>
  <% end %>
</div>



<!--  FontAwesome Icons here
<i class="fa-solid fa-plus"></i>
<i class="fa-thin fa-heart"></i>
<i class="fa-solid fa-heart"></i>
-->

<div class="" style="margin: 40px 100px;">
  <div class="d-flex flex-wrap justify-content-between" data-controller="workout-index">
    <% @workouts.each do |w| %>
      <div class="card card-rounded overflow-hidden mb-3 border-0" style="height: 300px; width: 400px;" data-action="mouseenter->workout-index#hoverButton mouseleave->workout-index#hideButton">
        <i class="fa-solid fa-plus add-button d-none" data-action="mouseenter->workout-index#hoverButton mouseleave->workout-index#hideButton"></i>
        <a href="<%= workout_path(w)%>">
          <i class="fa-solid fa-angles-right page-button d-none"></i>
        </a>
        <div class="card-body d-flex flex-column justify-content-between">
          <iframe height="200" src="https://www.youtube.com/embed/<%= w.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="border border-3 rounded-5 index-video">
            </iframe>
          <div class="text-truncate text-center"><%= w.title %></div>
        <!-- Comment this out for "Watch" button that goes to the workout_path(w)
        <%= link_to "Watch", workout_path(w), class: "text-truncate btn btn-success w-100 d-none" %>
        -->
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <div class="container d-flex justify-content-end pgn">
  <%= paginate @workouts %>
<%# </div> %> %>
