<h2>Here are all the worksouts foer you to browse</h2>
<p><%= @workouts.all %></p>



<div class="container d-flex">
  <%= form_with url: workouts_path, method: :get, class: "d-flex" do |f| %>
  <% @muscle_group_ops = ["Chest", "Back", "Shoulder", "Legs", "Abs"] %>
  <% @style_ops = ["Cardio", "HIIT", "Muscle"] %>
  <% @equipment_ops = ["No equipment", "Dumbbell", "Kettlebell", "Barbell", "Jump rope"] %>
    <%= f.select :muscle_group, options_for_select(@muscle_group_ops) %>
    <%= f.select :style, options_for_select(@style_ops) %>
    <%= f.select :equipment, options_for_select(@equipment_ops) %>

    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container w-100 border border-3">
  <div class="row">
      <div class="col-sm border border-3" data-controller="workout-index" >
      <% @workouts.first(20).each do |workout| %>
        <a href="/workouts/<%= workout.id %>">
          <iframe width="400" height="200" src="https://www.youtube.com/embed/<%= workout.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="border border-3 rounded-5">
          </iframe>
        </a>
      <% end %>
      </div>
  </div>
</div>
