<div class="container">
  <div class="grid">
    <% @recipes.each do |recipe| %>
      <div class="item">
        <h5><%= link_to recipe.title, recipe_path(recipe) %></h5>
        <p><%= recipe.ingredients %></p>
        <p><%= recipe.prep_time %></p>
        <p><%= recipe.instructions %></p>
        <p><%= recipe.difficulty %></p>
        <p><%= recipe.user.first_name %></p>
      </div>
    <% end %>
  </div>
</div>


<style>
  .container {
    display: flex;
    justify-content: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .item {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
  }

  h5 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    margin-top: 5px;
  }

  @media (max-width: 992px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
<div class="container">
  <h1>All Recipes</h1>

  <% @recipes.each do |recipe|%>
    <p><%= link_to recipe.title, recipe_path(recipe) %></p>
  <% end %>

</div>
