<% content_for(:title) do %>
  <title>Recipes | ZoneFit</title>
<% end %>

<div class="container">
  <p class="text-center fs-1 mt-5" style="border-style: solid none solid none; border-width: 1px;">All Recipes</p>
</div>
<%# Add a new recipe button. Maybe comment that in later? %>
<!--
<div class="container">
  <p><a href="/recipes/new" class="text-decoration-none"><strong>Add a new recipe</strong></a></p>
</div>
-->

<div class="container d-flex justify-content-center align-items-center">
  <div class="grid">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe), class: "text-decoration-none fs-6", html_wrapper: "item" do %>
        <div class="item" style="background-color: #ffffff;" >
          <img class="w-100 h-75 object-fit-cover" src="<%= recipe.url %>">

          <div class="item-content d-flex flex-column">
            <p class="text-decoration-none fs-6 fw-bold text-dark text-decoration-none"><%= recipe.title %></p>

            <div class="d-flex flex-column align-items-center ">
              <p class="text-decoration-none text-dark"><%= recipe.prep_time %> Minutes</p>
              <p class="text-decoration-none text-dark"><%= recipe.difficulty %></p>
            </div>
          </div>
        </div>

      <% end %>



      <!--
      <div class="item">
        <img class="w-100 h-75 object-fit-cover" src="<%= recipe.url %>">
        <div class="item-content d-flex flex-column">
          <p class="fs-5"><%= link_to recipe.title, recipe_path(recipe), class: "text-decoration-none fs-6" %></p>

          <div class="d-flex flex-column align-items-center">
            <p><%= recipe.prep_time %> Minutes</p>
            <p><%= recipe.difficulty %></p>
          </div>
        </div>
      </div>
      -->
    <% end %>
  </div>
</div>

<div class="container d-flex justify-content-end pgn">
  <%= paginate @recipes %>
</div>
