<div class="container">
  <div class="create-container">
    <div class="in-container validate-form">
      <h1 class="c-title">Create a recipe...</h1>



      <%= simple_form_for [@recipe] do |f| %>
        <a class="title"><%= f.input :title %></a>
        <%= f.input :instructions %>
        <%= f.input :image, as: :file %>
        <%= f.input :prep_time %>
        <%= f.input :difficulty  do %>
          <% f.collection_select :difficulty, [["Easy"], ["Intermediate"], ["Advanced"]], :first, :first, {}, class: "form-control"%>
        <% end %>
        <div id="ingredient-search">
          <%= render partial: 'ingredient_search' %>
        </div>
        <div id="ingredient-search-results"></div>
         <h2>Selected Ingredients:</h2>
          <ul id="selected-ingredients">
            <% @recipe.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  $('#ingredient-search-form').submit(function(event) {
    event.preventDefault();
    var form = $(this);

    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      data: form.serialize(),
      dataType: 'script'
    });
  });

  $('#ingredient-search-results').on('click', 'input[type="checkbox"]', function() {
    var ingredient = $(this).closest('li');
    var ingredientName = ingredient.find('label').text();
    var ingredientId = $(this).val();

    if ($(this).is(':checked')) {
      $('<li>').text(ingredientName).appendTo('#selected-ingredients');
      $('<input>').attr({
        type: 'hidden',
        name: 'recipe[ingredient_ids][]',
        value: ingredientId
      }).appendTo('#selected-ingredients');
    } else {
      $('#selected-ingredients li:contains("' + ingredientName + '")').remove();
      $('#selected-ingredients input[value="' + ingredientId + '"]').remove();
    }
  });
<% end %>





<style>
  .create-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f8f8f8;
  }

  .in-container {
    margin: 0 auto;
    max-width: 500px;
  }

  .c-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .title {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
</style>
