<% content_for(:title) do %>
  <title><%= @recipe.title %> | ZoneFit</title>
<% end %>

<div class="container my-3">
  <div class="item">
    <div class="row">
      <div class="buttons d-flex justify-content-end my-2">
        <% if current_user.favorited?(@recipe, scope: :cookbook) %>
          <%= simple_form_for @recipe, url: cookbook_path, method: :post do |f|  %>
            <%# TODO: We can use this! %>
            <%# ! <i class="fa-sharp fa-regular fa-book"></i> %>
            <button type="submit" class="custom-btn btn-purple" style="z-index: 1;">Remove from your cookbook</button>
          <% end %>
        <% else %>
          <%= simple_form_for @recipe, url: cookbook_path, method: :post do |f|  %>
            <%# SAME! %>
            <%# ! <i class="fa-thin fa-book"></i> %>
            <button type="submit" class="custom-btn btn-purple" style="z-index: 1;">Add to your cookbook</button>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-7">
        <div class="item-content">
          <div class="recipe-details">
            <p class="text-center fs-1 mt-1" style="border-style: solid none solid none; border-width: 1px;"><%= @recipe.title %></p>
            <p class="fs-4 text-decoration-underline"><strong>Ingredients: </strong></p>
              <ul>
                <% @ingredients.each do |ingredient| %>
                  <li class="fs-6"><i class="fa-solid fa-angles-right"></i> <%= ingredient.capitalize %></li>
              <% end %>
              </ul>
            <p><strong class="fs-4 text-decoration-underline">Prep Time: </strong><%= @recipe.prep_time %> Minutes</p>
            <p><strong class="fs-4 text-decoration-underline">Instructions:</p></strong>
            <p class="fs-6"><%= @recipe.instructions %></p>
            <p><strong>Difficulty Level: </strong><%= @recipe.difficulty %></p>
            <p><strong>Created By: </strong><%= link_to "#{@recipe.user.first_name} #{@recipe.user.last_name}", user_profile_path(@recipe.user) %></p>

            <%# TODO: We can only delete a recipe we created %>

            <% if @recipe.user == current_user %>
              <%= link_to edit_recipe_path(@recipe) do %>
                <button class="custom-btn btn-purple" style="z-index: 1;">Edit this recipe</button>
              <% end %>
              <%= link_to recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <button class="custom-btn btn-purple mb-3" style="z-index: 1;">Delete recipe</button>
              <% end %>
            <% end %>


            <%= simple_form_for [@recipe, @comment] do |f| %>
              <div class="d-flex">
                <%= f.hidden_field :commentable_id, value: params[:id] %>
                <%= f.hidden_field :commentable_type, value: params["controller"].singularize.capitalize %>
                <article class="justify-content-center align-items-center flex-column">
                  <div id="comment-div">
                    <%= f.input :content, as: :text, placeholder: "Enter your comment", label: false %>
                  </div>
              </div>
                  <button type="submit" class="btn login">Comment</button>
                  <button class="btn login mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal" id="shareButton">Share</button>
            <% end %>
                </article>

          </div>
        </div>
      </div>

      <div class="col-md-5">
        <img class="w-100 h-50 object-fit-cover shadow p-1 mb-5 bg-body-tertiary rounded" src="<%= @recipe.url %>">
        <!-- <img src="<%= @recipe.url %>" class="recipe-image"> -->
      </div>
    </div>
  </div>
</div>

<div class="container btn-warning">
  <%= link_to recipes_path, class: "d-flex justify-content-end text-decoration-none" do %>
    <button class="btn login mb-3" style="z-index: 1;">Back</button>
  <% end %>
</div>

<div class="container">
  <!-- Add your review display code here if needed -->
  <section class="comments w-50">
    <% if @comments.count > 0 %>
      <p class="fs-2 text-center">Comments</p>
    <% end %>
    <% @comments.each do |comment| %>
      <article class="comment">

        <% if comment.user.photo.key.present? %>
          <%= link_to user_profile_path(comment.user), class: "d-flex justify-content-center align-items-center" do  %>
            <%= cl_image_tag comment.user.photo.key, height: 55, width: 55, crop: :fill, style: "border-radius: 50%;" %>
          <% end %>
        <% else %>
          <%= link_to user_profile_path(comment.user), class: "d-flex justify-content-center align-items-center" do  %>
            <img src='https://www.gse.org/wp-content/uploads/2021/03/avatar-dummy.png' class="avatar-large" />
          <% end %>
        <% end %>
        <div class="comment-content d-flex justify-content-between">
          <div>
            <span><a href="<%= user_profile_path(comment.user) %>" class="text-decoration-none text-dark me-1"><strong><%= "#{comment.user.first_name} #{comment.user.last_name}" %></strong> </a></span><span><small><%= comment.created_at.strftime("%k:%M, %a, %d, %b, %Y") %></small></span>
            <p><%= comment.content %></p>
          </div>

          <% if comment.user == current_user %>
            <div class="comment-actions d-flex justify-content-end align-items-end">
              <%= link_to recipe_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?" }, class: "d-flex justify-content-center align-items-center" do %>
                <i class="far fa-trash-alt mx-1"></i>
              <% end %>
            </div>
        <% end %>
        </div>
      </article>
    <% end %>
  </section>
</div>

<p class="text-center title fs-1">Similar Recipes</p>
<div class="container">
  <div class="grid">
    <% @top_recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe), class: "text-decoration-none" do %>
        <div class="item">
          <p class="text-center fs-5 text-dark fw-bold"><%= recipe.title %></p>
          <img class="w-100 h-75 object-fit-cover" src="<%= recipe.url %>">
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @post do |f| %>
          <div class="form-group d-flex flex-column justify-content-center align-items-center">
            <%= f.input :content, placeholder: "Spread the word! 🥰", class: "form-control", label: false, wrapper_html: { style: "width: 400px;" } %>
            <%= f.hidden_field :url, value: @recipe.url %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn login">Post</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js" integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- UNCOMMENT FOR EMOJI PICKER (DOESN'T WORK) -->

<script type="text/javascript">
  $('#comment_content').emojioneArea({
    pickerPosition: 'right',
  });

  // Get a reference to the button element
  var button = document.getElementById('shareButton');

  // Add an event listener to the button
  button.addEventListener('click', function(event) {
    // Prevent the default action
    event.preventDefault();
  });
</script>

<script>
  </script>
