<div class="container">
  <h1><%= @recipe.title %></h1>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Prep Time: <%= @recipe.prep_time %> minutes</p>
  <p>Difficulty: <%= @recipe.difficulty %></p>
  <p>Instructions: <%= @recipe.instructions %></p>
</div>
