<% if @user.banner.attached? %>
  <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @user.banner.key, height: 300, crop: :fill %>)">
  <%= cl_image_path @user.banner.key, height: 300, crop: :fill, class: "banner style: background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)" %>
<% else  %>
  <section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= src="http://source.unsplash.com/featured/?nature" %>)">
<% end %>

  <div class="container">
    <%# ! Anything in the banner? %>
  </div>
</section>

<div class="row">
  <div class="col-md-4 profile-elements position-relative">
    <section class="d-flex flex-column justify-content-center align-items-center profile-content">
      <%# TODO: Profile pic %>
      <div class="profile-pic">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "http://source.unsplash.com/featured/?people" %>
    <% end %>
        <%# TODO: Add friend button %>
        <a href=""><i class="fa-solid fa-user-plus text-center fs-5 add-friend"></i></a>
      </div>
      <article class="bio text-center">
        <%# TODO: Name %>
        <p class="fs-5 fw-bold"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></p>
        <p class="fs-6 fst-italic mb-3"><%= "##{@user.nickname}" %></p>
        <%# TODO: Bio / About me %>
        <%= @user.bio %>
      </article>
      <%# TODO: Send a message / Edit profile %>
      <article>
        <% if policy(@user).edit? %>
          <%= link_to "Edit this section", edit_user_profile_path(@user), class: "custom-btn btn-purple mt-2 text-center text-decoration-none" %>
        <% else %>
          <%= link_to "Message", "#", class: "custom-btn btn-purple text-center text-decoration-none" %>
        <% end %>
      </article>
    </section>
  </div>

  <div class="col-md-6">
    <%# ! SECOND COLUMN %>

    <div class="posts my-4 ms-5">
      <%= render "shared/posts", locals: {p: @post} %>
    </div>

  </div>

  <div class="col-md-2">
    <%# ! THIRD COLUMN (FOR MAP) %>
  </div>

</div>


<!-- MAP HERE
<div><%= @user.interests %></div>
=======
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
-->
