

<div class="w-100">
  <img src="https://images.unsplash.com/photo-1687052470524-d5d74c13de59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80" alt="" style="height:300px;">
</div>

<div><%= @user.bio %></div>
<% if policy(@user).edit? %>
  <%= link_to "Edit this section", edit_user_path(@user) %>
<% end %>

<div><%= @user.interests %></div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
