<div class="navbar navbar-expand-sm navbar-lewagon" style="background-color: #22A699;">
  <div class="container-fluid text-muted d-flex align-items-center text-decoration-none w-100">
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <i class="fa-solid fa-dumbbell fs-2 text-light"></i>
      <h1 class="fs-3 mx-3 zonefit fw-bold mb-0">Zone Fit</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Workouts", workouts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Communities", chatrooms_path, class: "nav-link" %>

          </li>
          <li class="nav-item dropdown d-flex align-items-center text-decoration-none">
          <a href="#" class="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <% if current_user.photo.key.present? %>
              <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, style: "border-radius: 50%; border-style: solid; border-width: 2px; border-color: white;" %>
            <% else %>
            <i class="fa-solid fa-bars text-dark"></i>
            <% end %>

          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
