<div class="navbar navbar-expand-sm navbar-lewagon" style="background-color: #22A699;">
  <div class="container-fluid text-muted d-flex align-items-center text-decoration-none w-100">
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <i class="fa-solid fa-dumbbell fs-2 text-light"></i>
      <h1 class="fs-3 mx-3 zonefit fw-bold mb-0">Zone Fit</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "/", class: "nav-link" do %>

              <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fas fa-home" style="margin-right: 12px; font-size: 24px;"></i>Home</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to workouts_path, class: "nav-link" do %>
              <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fas fa-dumbbell" style="margin-right: 12px; font-size: 24px;"></i>Workouts</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to recipes_path, class: "nav-link" do %>
              <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fas fa-utensils" style="margin-right: 12px; font-size: 24px;"></i>Recipes</button>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to private_chatrooms_path, class: "nav-link" do %>
              <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fa-solid fa-envelope" style="margin-right: 12px; font-size: 24px;"></i>Messages</button>
            <% end %>

          </li>

          <li class="nav-item">
            <%= link_to chatrooms_path, class: "nav-link" do %>
              <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fas fa-users" style="margin-right: 12px; font-size: 24px;"></i>Communities</button>
            <% end %>
          </li>

          <li class="nav-item dropdown d-flex align-items-center text-decoration-none">
          <a href="#" class="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <% if current_user.photo.key.present? %>
              <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, style: "border-radius: 50%; border-style: solid; border-width: 2px; border-color: white;" %>
            <% else %>
            <i class="fa-solid fa-bars text-dark"></i>
            <% end %>

          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to user_profile_path(current_user), class: "dropdown-item" do %>
                <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fas fa-user" style="margin-right: 8px; font-size: 18px;"></i>My profile</button>
              <% end %>
              <!-- <%= link_to "Another action", "#", class: "dropdown-item" %> -->
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                <button class="nav-button custom-btn btn-navbar d-flex justify-content-center align-items-center" style="z-index: 1;"><i class="fas fa-sign-out-alt" style="margin-right: 8px; font-size: 18px;"></i>Log out</button>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
