<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.verival.co.uk/blog/wp-content/uploads/2022/04/post-workout-meal-wichtig.png);">
        <div class="container">
          <h1><strong>ZoneFit App</strong></h1>
          <p>Get set, fit, ready, go.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/8286338.jpg);">
        <div class="container">
          <h1><strong>ZoneFit App</strong></h1>
          <p>Get set, fit, ready, go.</p>
          <%= link_to "See Workout Videos", workouts_path, class: "btn btn-gradient" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000);">
        <div class="container">
          <h1><strong>ZoneFit App</strong></h1>
          <p>Get set, fit, ready, go.</p>
          <%= link_to "See Meal Recipes", recipes_path, class: "btn btn-gradient" %>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row justify-content-center">
  <div class="col-md-2 overflow-auto">
    <div class="w-75 h-50 d-flex flex-column justify-content-center align-items-center">
      <h2>Top workouts</h2>
      <% Workout.all.sample(10).each do |workout| %>
        <div class="container text-truncate">
          <%= link_to workout.title, workout_path(workout), class: "text-truncate" %>
        </div>
        <div class="container">
          <img src="<%= workout.thumbnail %>" class="img-fluid" style="border-radius: 16px;">
          <hr>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="wrapper d-flex justify-content-center">
      <div class="border border-gray p-3 text-center rounded" style="width: 800px; background-color: #E4EFE7;" data-controller="comments">
        <div class="col-md-10 offset-md-1">
          <div class="col-d-10 offset-md-1">
            <%= simple_form_for @post do |f| %>
              <div class="form-group">
                <%= f.input :content, placeholder: "Write something", class: "form-control", label: false %>
                <button type="submit" class="custom-btn btn-green">Post</button>
              </div>
            <% end %>
          </div>
        </div>

        <br>
        <% @posts.each do |p| %>
          <div class="d-flex flex-column" id="post">
            <div class="post w-100">
              <div class="post-content d-flex">
                <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
                <div class="ms-3">
                  <p><strong><%= "#{p.user.first_name} #{p.user.last_name}" %></strong> <small><%= p.created_at.strftime("%k:%M, %a, %d, %b, %Y") %></small></p>
                  <p class="text-break mt-2"><%= p.content %></p>
                </div>
              </div>


              <% if p.user == current_user %>
                <div class="post-actions">
                  <div class="">
                    <%= link_to "/", class: "d-flex justify-content-center align-items-center" do %>
                      <p>Edit</p>
                      <i class="fas fa-pencil-alt mx-1"></i>
                    <% end %>

                    <%= link_to post_path(p), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?" }, class: "d-flex justify-content-center align-ites-cetner" do %>
                      <p>Delete</p>
                      <i class="far fa-trash-alt mx-1"></i>
                    <% end %>
                  <%= link_to "/", class: "d-flex justify-content-center align-items-center", data: { action: "click->comments#clickButton" } do %>
                    <p>Comment</p>
                    <i class="fa-regular fa-comment mx-1"></i>
                  <% end %>
                  </div>
                </div>

              <% else %>
                <div class="post-actions">
                  <%= link_to "/", class: "d-flex justify-content-center align-items-center" do %>
                  <p>Comment</p>
                  <i class="fa-regular fa-comment mx-1"></i>
                <% end %>
                </div>
              <% end %>
            </div>
            <section class="nested-comments d-none">
              <div class="container w-100">
                <%= simple_form_for [p, @comment] do |f| %>
                  <div class="d-flex justify-content-center align-items-center">
                    <%= f.hidden_field :commentable_id, value: p[:id] %>
                    <%= f.hidden_field :commentable_type, value: "Post" %>
                    <article class="justify-content-center align-items-center flex-column w-75 flex-row">
                      <div id="comment-div">
                        <%= f.input :content, as: :text, placeholder: "Reply your heart out ❤️", class: "w-100", label: false %>
                      </div>
                    </article>
                    <div class="">
                      <button type="submit" class="custom-btn btn-purple ms-2" style="z-index: 1;">Comment</button>
                    </div>
                  </div>
                <% end %>

                <div class="comments">
                  <% Comment.all.where(commentable_id: p[:id]).order("created_at DESC").each do |comment| %>
                    <article class="nested-comment" style="height: 6vh; width: 75%;">
                      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-dummy" /> <%# TODO: Insert claudinary thingy here %>
                      <div class="nested-comment-content d-flex flex-column">
                        <div class="nested-comment-header d-flex justify-content-start">
                          <p><strong><%= "#{p.user.first_name} #{p.user.last_name}" %></strong> <small><%= p.created_at.strftime("%k:%M, %a, %d, %b, %Y") %></small></p>
                        </div>
                        <div class="nested-comment-content d-flex">
                          <p class="text-start"><%= comment.content %></p>
                        </div>

                        <% if comment.user == current_user %>
                          <div class="nested-comment-actions">
                            <%= link_to "/", class: "d-flex justify-content-center align-items-center" do %>
                              <p>Edit</p>
                              <i class="fas fa-pencil-alt mx-1"></i>
                            <% end %>


                            <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?" }, class: "d-flex justify-content-center align-items-center" do %>
                              <p>Delete</p>
                              <i class="far fa-trash-alt mx-1"></i>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </article>
                  <% end %>
                </div>
              </div>
            </section>
          </div>
          <%# TODO: Nested comment section here %>

        <% end %>

        </div>
      </div>
    </div>

  <div class="col-md-2">
    <div class="container w-75 h-50 d-flex flex-column justify-content-center align-items-center">
      <h2>Top Recipes</h2>
      <% Recipe.all.sample(10).each do |recipe| %>
        <%= link_to recipe.title, recipe_path(recipe) %>
      <img src="<%= recipe.url %>" class="w-100 h-75 object-fit-cover" style="border-radius: 16px;">
      <% end %>
    </div>
  </div>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-5">
    <div class="row">

      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<style>
.container {
  max-width: 800px; /* Adjust the value as needed */
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.recipe-container {
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  max-width: 250px;
}

.recipe-container a {
  display: block;
  margin-bottom: 10px;
}


.row.justify-content-center {
  margin-top: 20px;
}

.row.justify-content-center .my-5 {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

</style>


<div>
  <% results = PgSearch.multisearch(params[:query]) %>
  <% if results.size > 0 %>
    <% results.map do |result| %>
        <% if result.searchable_type == "Workout" %>
          <p><%= link_to result.searchable.title, workout_path(result.searchable_id) %></p>
        <% elsif result.searchable_type == "Recipe"  %>
          <p><%= link_to result.searchable.title, recipe_path(result.searchable_id)  %></p>
        <% end %>
    <% end %>
  <% elsif params[:query].present? && results.size == 0 %>
    <p>Sorry, no results match your search. Try again!</p>
  <% end %>
</div>
