<% content_for(:title) do %>
  <title>Dashboard | ZoneFit</title>
<% end %>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.verival.co.uk/blog/wp-content/uploads/2022/04/post-workout-meal-wichtig.png);">
        <div class="container">
          <h1><strong>Get set, fit, ready, go.</strong></h1>
          <p>Your journey to a healthier you starts now!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/8286338.jpg);">
        <div class="container">
          <h1><strong>Sweat, smile, succeed!</strong></h1>
          <p>Embrace the challenge, celebrate your victories!</p>
          <%= link_to "See Workout Videos", workouts_path, class: "btn btn-gradient" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000);">
        <div class="container">
          <h1><strong>Train smart, train in the Zone.</strong></h1>
          <p>Walk in strong, walk out stronger!</p>
          <%= link_to "See Meal Recipes", recipes_path, class: "btn btn-gradient" %>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row justify-content-center">
  <div class="col-md-2 overflow-auto">
    <div class="w-75 h-50 d-flex flex-column justify-content-center align-items-center">
      <p class="fs-4" style="background-color: #9ef7e3; border-radius: 6px; padding: 2px;">Top Workouts</p>
      <% Workout.all.sample(10).each do |workout| %>
        <div class="container text-truncate">
          <%= link_to workout.title, workout_path(workout), class: "text-truncate fw-bold text-decoration-none text-dark text-capitalize" %>
        </div>
        <div class="container">
          <img src="<%= workout.thumbnail %>" class="img-fluid" style="border-radius: 16px;">
          <hr>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="wrapper d-flex justify-content-center">
      <div class="border border-gray p-3 rounded" style="width: 850px; background-color: #E4EFE7;">

        <%= render "shared/posts" %>

        </div>
      </div>
    </div>

  <div class="col-md-2">
    <div class="container w-75 h-50 d-flex flex-column justify-content-center align-items-center">
      <p class="fs-4" style="background-color: #9ef7e3; border-radius: 6px; padding: 2px;">Top Recipes</p>
      <% Recipe.all.sample(8).each do |recipe| %>
        <%= link_to recipe_path(recipe), class: "text-decoration-none" do %>
          <p class="fs-6 text-center text-dark fw-bold"><%= recipe.title %></p>
          <img src="<%= recipe.url %>" class="w-100 h-75 object-fit-cover" style="border-radius: 16px;">
        <% end %>
      <% end %>
    </div>
  </div>
  </div>

</div>

<%# TODO: SEARCH BAR HERE. COMMENT THIS OUT LATER, MAKE A DEDICATED PAGE FOR IT %>

<!--
<div class="row justify-content-center">
  <div class="col-sm-8 my-5">
    <div class="row">

      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
-->

<style>
.container {
  max-width: 800px; /* Adjust the value as needed */
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.recipe-container {
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  max-width: 250px;
}

.recipe-container a {
  display: block;
  margin-bottom: 10px;
}


.row.justify-content-center {
  margin-top: 20px;
}

.row.justify-content-center .my-5 {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

</style>

<!-- SEARCH BAR HERE. COMMENT THIS OUT LATER, MAKE A DEDICATED PAGE FOR IT -->

<!--
<div>
  <% results = PgSearch.multisearch(params[:query]) %>
  <% if results.size > 0 %>
    <% results.map do |result| %>
        <% if result.searchable_type == "Workout" %>
          <p><%= link_to result.searchable.title, workout_path(result.searchable_id) %></p>
        <% elsif result.searchable_type == "Recipe"  %>
          <p><%= link_to result.searchable.title, recipe_path(result.searchable_id)  %></p>
        <% end %>
    <% end %>
  <% elsif params[:query].present? && results.size == 0 %>
    <p>Sorry, no results match your search. Try again!</p>
  <% end %>
</div>
-->
