<div class="d-flex mx-5">
  <div class="container d-flex mt-5">
    <div class="info mx-2">
      <p class="title fs-1">No gym? No fear!</p>
      <p class="title fs-2"><strong>ZoneFit</strong> has everything you need 🎉🎉</p>
      <p class="fs-4"><small>Access all your workout and recipe inspiration alongside others</small></p>
    </div>

    <div class="image-fluid">
      <%= image_tag "https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80", class: "object-fit-cover", style: "height: 30vh; width: 50vh; border-radius: 16px; box-shadow: 1px 1px 3px 1px #888888;" %>
    </div>
  </div>

</div>

<div class="button d-flex justify-content-center">
  <p class="m-2 btn login mt-5" ><%= link_to "Get started!", new_user_registration_path, class: "text-decoration-none text-dark" %></p>
</div>

<div class="cotainer d-flex justify-content-center">
  <div class="boxes d-flex justify-content-between mt-5">
    <div class="box text-center mx-2" style="padding: 10px; border-radius: 16px; width: 50vh;">
      <%= image_tag "https://images.unsplash.com/photo-1616279967983-ec413476e824?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1152&q=80", class: "object-fit-cover w-100", style: "height: 300px; border-radius: 16px; box-shadow: 1px 1px 3px 1px #888888;" %>
      <p class="mt-4 fw-bold">Access hundreds of workouts</p>
      <p><small>Improve your fitness with our extensive range of fitness videos</small></p>
    </div>
    <div class="box text-center mx-2" style="padding: 10px; border-radius: 16px; width: 50vh;">
      <%= image_tag "https://images.unsplash.com/photo-1467453678174-768ec283a940?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1144&q=80", class: "object-fit-cover w-100", style: "height: 300px; border-radius: 16px; box-shadow: 1px 1px 3px 1px #888888;" %>
      <p class="mt-4 fw-bold">Cook from thousands of recipes</p>
      <p><small>Take control of your nutrition with enough recipes so your never bored</small></p>
    </div>
    <div class="box text-center mx-2" style="padding: 10px; border-radius: 16px; width: 50vh;">
      <%= image_tag "https://images.unsplash.com/photo-1556484687-30636164638b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80", class: "object-fit-cover w-100", style: "height: 300px; border-radius: 16px; box-shadow: 1px 1px 3px 1px #888888;" %>
      <p class="mt-4 fw-bold">Join the community</p>
      <p><small>Share and discuss your experiences with others no matter where you are in the world</small></p>
    </div>
  </div>
</div>


<style>
  .background-image {
    background-color: #97cba9; ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .box {

  }

  small {
    color: #A9A9A9;
  }

  .image {
    padding-left: 10px;
  }

  .button {
    text-decoration: none;
    color: white;
  }
</style>
