<% if @results.present? && @results.size > 0 %>
  <div class="d-flex flex-wrap justify-content-between m-5">
    <% @results.each do |result| %>
      <% if result.searchable_type == "Workout" %>
        <div data-controller="workout-index">
          <div class="card card-rounded overflow-hidden mb-3 border-0" style="height: 300px; width: 400px;" data-action="mouseenter->workout-index#hoverButton mouseleave->workout-index#hideButton">
            <i class="fa-solid fa-plus add-button d-none" data-action="mouseenter->workout-index#hoverButton mouseleave->workout-index#hideButton"></i>
            <a href="<%= workout_path(result.searchable_id) %>">
              <i class="fa-solid fa-angles-right page-button d-none"></i>
            </a>
            <div class="card-body d-flex flex-column justify-content-between">
              <iframe height="200" src="https://www.youtube.com/embed/<%= result.searchable.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="border border-3 rounded-5 index-video"></iframe>
              <div class="text-truncate text-center">
                <%= result.searchable.title %>
              </div>
            </div>
          </div>
        </div>
      <% elsif result.searchable_type == "Recipe" %>
            <div class="col-md-3 overflow-auto flex">
              <%= link_to recipe_path(result.searchable_id), class: "text-decoration-none fs-6", html_wrapper: "item" do %>
                <div class="item" style="background-color: #FCFCFC;">
                  <img class="w-100 h-75 object-fit-cover" src="<%= result.searchable.url %>" />
                  <div class="item-content d-flex flex-column">
                    <p class="text-decoration-none fs-6 fw-bold text-dark text-decoration-none">
                      <%= result.searchable.title %>
                    </p>
                    <div class="d-flex flex-column align-items-center">
                      <p class="text-decoration-none text-dark">
                        <%= result.searchable.prep_time %> Minutes
                      </p>
                      <p class="text-decoration-none text-dark">
                        <%= result.searchable.difficulty %>
                      </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif params[:query].present? && @results.size == 0 %>
  <p>Sorry, no results match your search. Try again!</p>
<% end %>
